$glimmer-orange: #F5835F;
$header-height: 50px;

@import "./responsive";
@import "./solarized";
@import "./typography";

@import "./components/glimmer-repl";
@import "./components/button";
@import "./components/editable-title";
@import "./components/header";
@import "./components/glimmer-sandbox";
@import "./components/remove-button";
@import "./components/Visualizer";

* {
  box-sizing: border-box;
}

body, html {
  @include system-font;

  margin: 0;
  padding: 0;
  height: 100%;

  background-color: $base03;
}
