@import "./solarized";
@import "./variables";
@import "./z-index";
@import "./animations";
@import "./responsive";
@import "./typography";

@import "./components/glimmer-repl";
@import "./components/editable-title";
@import "./components/glimmer-sandbox";
@import "./components/glimmer-visualizer";
@import "./components/overlay-ui";
@import "./components/share";

@import "./ui/badge-success";
@import "./ui/button";
@import "./ui/button-confirm";
@import "./ui/button-remove";
@import "./ui/header";

* {
  box-sizing: border-box;
}

body, html {
  @include system-font;

  margin: 0;
  padding: 0;
  height: 100%;

  background-color: $base03;
}
