@import "./responsive";
@import "./solarized";
@import "./typography";

@import "./components/glimmer-repl";
@import "./components/repl-button";
@import "./components/editable-title";
@import "./components/glimmer-sandbox";
@import "./components/remove-button";

* {
  box-sizing: border-box;
}

body, html {
  @include system-font;

  margin: 0;
  padding: 0;
  height: 100%;

  background-color: $base03;
}
