$breakpoint-mobile: 1025px;

@mixin mobile() {
  @media only screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin desktop() {
  @media only screen and (min-width: $breakpoint-mobile) {
    @content;
  }
}
