$breakpoint-mobile: 1025px;
$glimmer-orange: #F5835F;
$horizonal-rule-color: lighten($base03, 4%);
$header-height: 50px;
$overlay-window-max-width: 700px;
$overlay-side-padding: 30px;
$overlay-side-padding-desktop: 50px;
$overlay-side-padding-mobile: 30px;
$overlay-top-padding: 20px;
$overlay-top-padding-desktop: 20px;
$overlay-top-padding-mobile: 20px;
$overlay-border-radius: 8px;