.button {
  position: relative;
  padding: 0.35rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  background-color: rgba(255,255,255, 0.1);
  cursor: pointer;

  &[disabled] {
    cursor: default;
  }
}