button.confirm {
  position: relative;
  border: 0;
  padding: 0;
  color: #fff;
  font-size: 0.7rem;
  @include monospace;
  cursor: pointer;
  background: transparent;

  &.yes {
    color: $red;
  }
}