.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: $header-height;
  border-bottom: 1px solid $horizonal-rule-color;
  background-color: $base03;

  .button {
    flex-grow: 1;
    margin: 0 10px 10px 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .button:first-of-type {
    margin-left: 15px;
  }

  .button:last-of-type {
    margin-right: 15px;
  }
}

.editor-actions {
  min-width: 100%;
  display: flex;
  order: 1;
  justify-content: flex-end;
}

.glimmerjs-com {
  display: flex;
  height: 100%;
  margin-left: 15px;
  line-height: #{$header-height - 2px};

  a {
    margin-right: 15px;
    color: #bbb;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
  }

  .logo {
    padding-left: 26px;
    background-image: url(images/logo.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 24px;
  }
}

@media only screen and (min-height: 700px) {
  .header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
  }
}

@media only screen
        and (min-width : 630px)
        and (max-width : #{$breakpoint-mobile - 1px})
          , (min-width : 1250px) {
  .glimmerjs-com {
    flex-grow: 1;
    justify-content: flex-end;
  }

  .header .button {
    margin: 0 0 0 10px;
  }

  .editor-actions {
    order: 0;
    min-width: auto;
  }
}