editable-title {
  > span, > input {
    display: inline-block;
    padding: 2px;
    margin: 0;
    color: $blue;
  }

  &:hover > span {
    background-color: $base01;
  }

  > input {
    border: 0;
    background-color: $base02;
    color: $blue;
    font-size: 1.2rem;
    @include monospace;
    outline: none;
  }
}
