glimmer-repl {
  .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pane {
    z-index: z('pane');

    @include desktop {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      overflow: scroll;
    }
  }

  .vm {
    @include desktop {
      left: 50%;
    }

    @include mobile {
      min-height: 100vh;
    }

    padding: 23px 32px 32px 32px;
  }

  .editor {
    @include desktop {
      right: 50%;
    }

    @include solarized-dark;
  }

  h2.component-name, h2.helper-name {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 6px 15px;
    font-weight: normal;
    font-size: 1.2rem;
    color: $blue;
    @include monospace;

    > .bracket {
      color: $base0;
    }

    button.remove {
      top: 2px;
      margin-left: 10px;
    }

    button.confirm {
      margin-left: 15px;
    }
  }

  .component:first-of-type h2.component-name {
    padding-top: 15px;
  }

  @include desktop {
    .file {
      padding-left: 32px;
    }
  }

  .file-name {
    display: flex;
    align-items: center;
    min-height: 24px;
    font-weight: normal;
    font-size: 0.8rem;
    margin: 0 17px 15px 27px;

    button.remove {
      margin-top: 2px;
      margin-left: 10px;
    }

    button.confirm {
      margin-left: 15px;
    }
  }

  .add-implementation {
    margin-bottom: 12px;
  
    .button {
      margin-left: 27px;
    }
  }


  .title {
    text-align: center;
  }

  .toggle-visualizer {
    position: fixed;
    right: 15px;
    bottom: 15px;
    border: none;
    z-index: z('toggleVisualizer');

    background: transparent;
    font-size: 18px;

    cursor: pointer;
  }
}
