glimmer-visualizer {
  position: fixed;

  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;

  padding: 17px;
  overflow-y: auto;

  color: $base3;
  background: $base03;
  font-family: Menlo, Courier, monospace;
  box-shadow: rgba(black, 0.4) 0 0 35px;
  z-index: 2;

  .decompiled {
    .op .opcode {
      color: $cyan;
    }

    .op .name {
      color: $base2;
    }

    .operands {
      padding-left: 17px;
    }

    .operand .name {
      color: $green;
    }

    .operand .raw-value {
      color: $base1;
    }

    .operand .value {
      color: $blue;
    }
  }

  .hexdump {
    pre {
      font-family: Menlo, Courier, monospace;
    }
  }
  
  .bytecode {
    margin-top: 17px;

    .opcode {
      color: $cyan;
    }

    .operand {
      color: $green;
    }
  }
}