button.remove {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  margin: 0;

  &:before, &:after {
    position: absolute;
    top: 3px;
    left: 8px;
    bottom: 3px;
    content: '';
    width: 2px;
    background: $base00;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    cursor: pointer;
    background-color: $red;

    &:before, &:after {
      background: #fff;
    }
  }
}

button.confirm {
  position: relative;
  border: 0;
  border-bottom: 1px solid $base0;
  padding: 0;
  color: $base0;
  font-size: 0.7rem;
  @include monospace;
  cursor: pointer;
  background: transparent;

  &.yes {
    color: $red;
    border-bottom-color: $red;
  }
}
