[is="repl-button"] {
  margin: 8px 0;
  padding: 0 0 2px 0;

  border: none;
  border-bottom: 2px solid $orange;

  font-size: 0.8rem;
  color: $orange;
  background-color: $base03;

  cursor: pointer;
}
