glimmer-visualizer {
  position: fixed;

  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;

  padding: 17px;
  overflow-y: auto;

  color: $base3;
  background: $base03;
  font-family: Menlo, Courier, monospace;
  box-shadow: rgba(black, 0.4) 0 0 35px;

  .op .opcode {
    color: $base1;
  }

  .op .name {
    color: $cyan;
  }

  .operands {
    padding-left: 17px;
  }

  .operand .name {
    color: $green;
  }

  .operand .raw-value {
    color: $base1;
  }

  .operand.str .value {
    color: $blue;
  }
}